<div class = "container mt-5">
  <div class = "row col-lg-12 col-sm-12">
      <table class = "table table-striped">
          <thead>
              <tr class= "bg-info text-light">
                  <th>Title</th>
                  <th>Description</th>
                  <th>Price</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let product of products">
                  <td>{{product.title}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.price}}</td>                  
                  <td><button class = "btn btn-danger" (click) = "addProduct(product.title)">Add</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>