<div class="project">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info text-light">
      <a class="navbar-brand mr-5" routerLink="home">MediCare</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
  
          <li class="nav-item">
            <a class="nav-link" routerLink="all-products">All Products</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" routerLink="search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
  
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
    
  </div>