<br><br><br>
    <hr class="bg-info w-50 mt-5">
    <div class="container">
        <div class="row col-12">
            <div class="col-lg-4 col-xs-12 mt-5">
                <h2>Medicare</h2>
                <p>Stay Connected</p>
                <p>Follow us on Instagram</p>           
                <p>medicare@gmail.com</p>              

            </div>
            <div class="col-lg-4 col-xs-12 mt-5 mr-5">
                <h2>About US</h2>
                <p>Medicare is a company that supplies medicines and a couple of other healthcare essentials at an affordable price.</p>
            </div>
            <div class="col-lg-3 col-xs-12 mt-5">
                <h2>Contact Us</h2>
                <p>medicare@gmail.com</p>
                <p>Let's shop together</p>
            </div>
        </div>
    </div>