<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h4 class = "mt-3 mb-3">Login Form</h4>
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username"
                            class="form-control"  placeholder="Enter username" required/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" required  name="password"
                            id="password" placeholder="Enter your password" />
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit" value="Login" >
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>

