<div class="container">

    <div class="row">
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="enter product" class="form-control" name="title" [(ngModel)]="title">
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "findProductByTitle()">Search</button>
        </div>
    </div>
    <h2 class="mt-5">Results</h2>
    <div class="row col-lg-12 col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                 </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>