<div class="container">
    <h4 class="display-4 mt-5 text-center">Medicare - Online Pharmacy</h4>
    <hr class="mb-1 w-25 mt-2" style="border-top: 2px solid #FF8C00; border-radius: 100%;">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <br><br><br>
            <img class="responsive w-100 mt-5 mb-5" [src]="banner" alt="Code for Interview">
        </div>
    </div><br>
    <h4 class="display-4 mt-5 text-center">Medicare - Features</h4>
    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p><b>1 Lakh+ Products</b></p>
            <p>We maintain strict quality controls on all our partner retailers, so that you always get standard quality products.
                <br><br>
        </div>
        <div class="col-lg-6 col-sm-12 mb-5">
            <p><b>Secure Payment and Easy Return</b></p>            
            <ul>
                <li>100% secure and trusted payment protection.</li>
                <li>We have a new and dynamic return window policy for medicines and healthcare items. Refer FAQs section for more details.</li>
                <li>I'm addicted to Instagram as an alcoholic to a beer</li>
                <li>And I am meeting more people and creating new opportunities.</li>
            </ul>
        </div>
    </div><br><br>    
    <app-footer></app-footer>
</div>