<div style="text-align: center">
    <h3>{{message}}</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h4 class = "mt-3 mb-3">Registeration Form</h4>
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" [(ngModel)] = "user.username" id="username"
                            class="form-control"  placeholder="Enter username" required/>
                    </div>

                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input class="form-control" type="text" name="firstname" [(ngModel)] = "user.firstname" id="firstname"
                            placeholder="Enter your firstname" required/>
                    </div>

                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input class="form-control" type="text" name="lastname" [(ngModel)] = "user.lastname" id="lastname"
                            placeholder="Enter your lastname" required />                        
                    </div>

                    <div class="form-group">
                        <label for="age">Age</label>
                        <input class="form-control" required name="age" [(ngModel)] = "user.age"
                            id="age" placeholder="Enter your age" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" required  name="password" [(ngModel)] = "user.password"
                            id="password" placeholder="Enter your password" />
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit" value="Register" (click)= "registerNow()" >
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
